.u-section-1 .u-sheet-1 {
  min-height: 1058px;
}

.u-section-1 .u-text-1 {
  margin: 40px 46px 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 40px 46px 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 20px 46px 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-4 {
  margin: 18px 46px 0;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: 13px 46px 0;
}

.u-section-1 .u-text-6 {
  margin: 20px 46px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1258px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 32px;
    margin-left: 27px;
    margin-right: 27px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 87px;
    margin-right: 60px;
    margin-left: 18px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 26px;
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 73px;
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin: 12px 21px 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1564px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 22px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 47px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 24px;
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 22px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 80px;
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-1 .u-text-6 {
    margin: 7px 7px 0;
  }
}