 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 529px;
}

.u-section-1 .u-text-1 {
  background-image: none;
  font-size: 2.125rem;
  font-family: Arizonia;
  width: 283px;
  margin: 160px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 0.875rem;
  font-weight: 400;
  margin: 26px auto 60px;
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.375rem;
    width: 139px;
    margin-top: 117px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.625rem;
    width: auto;
    margin-top: 44px;
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-2 {
  background-image: url("/images/pexels-pok-rie-33563-1432680.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 660px;
}

.u-section-2 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: linear-gradient(white, black);
  margin: 14px auto 0 84px;
  padding: 18px 55px 20px 54px;
}

.u-section-2 .u-btn-2 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: linear-gradient(white, black);
  margin: 44px auto 0 84px;
  padding: 18px 59px 19px 58px;
}

.u-section-2 .u-btn-3 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: linear-gradient(white, black);
  margin: 44px auto 60px 84px;
  padding: 18px 59px 19px 58px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 544px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-3 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 417px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 32px;
    margin-left: 21px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 35px;
    margin-left: 21px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 33px;
    margin-left: 21px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 313px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-3 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 344px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 21px;
    margin-left: 14px;
    padding: 5px 15px 6px 14px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 15px;
    margin-left: 14px;
    padding: 6px 19px 6px 18px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 14px;
    margin-left: 14px;
    padding: 5px 20px 7px 18px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 500px;
}

.u-section-3 .u-group-1 {
  width: 915px;
  height: auto;
  margin: 60px auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-3 .u-text-1 {
  font-family: Arizonia;
  font-size: 4.5rem;
  margin: 21px -42px 0;
}

.u-section-3 .u-text-2 {
  font-weight: 400;
  width: auto;
  margin: -63px -98px 0 99px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 464px;
  }

  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 502px;
  }

  .u-section-3 .u-group-1 {
    width: 704px;
    min-height: 232px;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 31px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -87px;
    margin-right: -171px;
    margin-left: 171px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 296px;
  }

  .u-section-3 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    font-size: 3rem;
  }

  .u-section-3 .u-text-2 {
    margin-top: -63px;
    margin-right: -98px;
    margin-left: 99px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 377px;
  }

  .u-section-3 .u-group-1 {
    min-height: 212px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 20px;
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -40px;
    margin-right: -70px;
    margin-left: 71px;
  }
}